@charset "utf-8";

/* ==========================================================================
  font-face
   ========================================================================== */

@import url('font.css');

/* ==========================================================================
   Base styles & Helper
   ========================================================================== */

@import url('normalize.css');
@import url('jquery-ui-1.10.4.custom.min.css');
@import url('datepicker.css');
@import url('swiper.min.css');
@import url('animated.css'); 

/* base */
body, h1, h2, h3, h4, h5, h6, fieldset,ul, ol, dl, dt, dd, p, button ,figure{margin:0;padding:0;}
body{font:normal 16px/1.5 Apple SD Neo Gothic, "Apple SD Gothic Neo", AppleSDGothicNeo, Roboto, Droid sans, Microsoft NeoGothic, malgun gothic, sans-serif, Verdana;color:#666;}
body.font{font-family:Nanum Square,'Nanum Square';}
body.ENG{letter-spacing:-1px}
legend, caption{width:0;height:0;visibility:hidden;font-size:0;line-height:0;}
a{text-decoration:none;color:#666;}
img{vertical-align:middle;}
fieldset, button{background:none;border:0px;}
ul:after,ol:after{content:'';display:block;clear:both;}
li{list-style:none;}
table{width:100%;border-spacing:0px;border-collapse:collapse;font-size:1em;}
iframe{width:100%;vertical-align:middle;border:0 none;}
hr{margin:20px 0;border:0 none;height:1px;background:#c9c9c9;}

/*** mobile_base ***/
	/*iphone 글자크기 자동조정 방지*/
	/*body{-webkit-text-size-adjust:none;} */
	/*안드로이드 주황색 포커스 제거 */
	/*body{-webkit-tap-highlight-color:rgba(0, 0, 0, 0);} */
	/*iphone 폼요소 리셋 */
	/*input, select{-webkit-appearance:none;-webkit-border-radius:0}*/

	
/* ==========================================================================
   form
   ========================================================================== */
label{display:inline-block}
label input{vertical-align:middle;}
textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
	{display:inline-block;height:40px;line-height:38px;padding:0px 10px;border:1px solid #aaaaaa;background:#fff;-webkit-transition-duration:.1s;-moz-transition-duration:.1s;-o-transition-duration:.1s;transition-duration:.1s;vertical-align:middle;box-sizing:border-box;}
input[type="file"]{padding:3px;line-height:36px;}
select:hover, textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover{border-color:#777}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{border-color:#777}
select:disabled, textarea:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="date"]:disabled, input[type="month"]:disabled, input[type="time"]:disabled, input[type="week"]:disabled, input[type="number"]:disabled, input[type="email"]:disabled, input[type="url"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="color"]:disabled{background-color:#f9f9f9;}
select{display:inline-block;height:40px;line-height:38px;padding-left:10px;border:1px solid #aaaaaa;vertical-align:middle;box-sizing:border-box;}
textarea{width:100%;min-height:100px;padding:10px;resize:none;line-height:1.5;box-sizing:border-box;}
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholde,
:-ms-input-placeholder,
.placeholder{color:#999;opacity:1;}
input.readonly{background:#f9f9f9;}

.checkbox, .radio{position:relative;display:inline-block;cursor:pointer;vertical-align:middle;}
.checkbox input, .radio input{opacity:0;position:absolute;left:0;top:0;width:30px;height:30px;cursor:pointer;z-index:1;}
.checkbox input:checked, .radio input:checked, .checkbox input:focus, .radio input:focus{outline:none! important}
.checkbox input+.lbl, .radio input+.lbl{position:relative;display:inline-block;margin:0;line-height:18px;min-height:18px;padding:6px 0 6px 35px;font-weight:normal;vertical-align:top;word-break:break-all;}
.checkbox.only input+.lbl, .radio.only input+.lbl{padding-left:30px;text-indent:-999em;font-size:0;}
.checkbox input+.lbl:before, .radio input+.lbl:before{content:'';border:1px solid #ddd;box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);background:#ddd;display:inline-block;height:30px;width:30px;position:absolute;left:0;top:0;box-sizing:border-box;border-radius:100%;}
.checkbox input+.lbl:after, .radio input+.lbl:after{content:'';display:inline-block;position:absolute;background-color:#fff}
.checkbox input+.lbl:after{width:24px;height:10px;top:2px;left:6px;border:4px solid #fff;border-top:none;border-right:none;background:transparent;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
	.checkbox.bookmark input+.lbl:after{width:20px;height:20px;top:5px;left:5px;border:0 none;-webkit-transform:rotate(0deg);transform:rotate(0deg);background:url(../images/common/chkckbox_bookmark.png) no-repeat;-webkit-background-size:100% 100%;background-size:100% 100%;}
.radio input+.lbl:after{width:14px;height:14px;top:8px;left:8px;border-radius:100%;}
.checkbox input:checked+.lbl, .radio input:checked+.lbl{color:#222;}
.checkbox input:checked+.lbl:before, .radio input:checked+.lbl:before{background:#dd0000;}
.checkbox input:disabled, .radio input:disabled, 
.checkbox input[disabled], .radio input[disabled]{cursor:not-allowed}
.checkbox input:disabled+.lbl:before, .radio input:disabled+.lbl:before, 
.checkbox input[disabled]+.lbl:before, .radio input[disabled]+.lbl:before, 
.checkbox input.disabled+.lbl:before, .radio input.disabled+.lbl:before,
.checkbox input:disabled+.lbl:after, .radio input:disabled+.lbl:after, 
.checkbox input[disabled]+.lbl:after, .radio input[disabled]+.lbl:after, 
.checkbox input.disabled+.lbl:after, .radio input.disabled+.lbl:after{opacity:0.5;}
.checkbox > input:focus + .lbl:before, .radio > input:focus + .lbl:before,
.checkbox.hover > input + .lbl:before, .radio.hover > input + .lbl:before{border-color:#777}
.lbl_area > label{margin:0.3em 2em 0.3em 0;}

/*파일첨부*/
.input_file{position:relative;padding-right:110px;}
.input_file > input{width:100%;vertical-align:middle;}
.input_file .btn_file{display:inline-block;position:absolute;right:0;top:0;overflow:hidden;vertical-align:middle;}
.input_file .btn_file .button{}
.input_file .btn_file input{position:absolute;left:0;top:0;width:100%;height:100%;padding:0;margin:0;z-index:2;font-size:10em;line-height:2;cursor:pointer;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;}
span.input_file{display:inline-block;padding-right:0;}
span.input_file > input{width:400px;}
span.input_file .btn_file{position:relative;}

/*spinner*/
.ui-spinner{position:relative;display:inline-block;padding-right:20px;height:39px;border:1px solid #919191;background:#919191;}
.ui-spinner .spinner{width:40px;height:39px;padding:8px 6px;text-align:center;border:0 none;color:#000;}
.ui-spinner-button{position:absolute;right:0px;}
.ui-spinner-button .icon{display:block;width:19px;height:19px;text-indent:-999em;}
.ui-spinner-up{top:0px;background:#fff url(../images/common/btn_plus.html) no-repeat center;}
.ui-spinner-down{top:20px;background:#fff url(../images/common/btn_minus.html) no-repeat center;}
.ui-state-hover{background-color:#eee;}
/* .ui-state-active{top:1px;} */
.inp_spinner{position:relative;display:inline-block;;padding:0 45px;}
.inp_spinner input{display:inline-block;width:60px;text-align:center;line-height:40px;height:40px;font-size:1.5em;color:#c70202;border:0;padding:0;font-weight:bold;vertical-align:top;}
.inp_spinner .btn{position:absolute;top:0;width:36px;height:36px;border:2px solid #c8c8c8;}
.inp_spinner .btn.minus{left:0;background:url(../images/common/spinner_minus.gif) no-repeat center center;}
.inp_spinner .btn.plus{right:0;background:url(../images/common/spinner_plus.gif) no-repeat center center;}

/* datepicker */
.datepicker{width:140px;}
.ui-datepicker-trigger{display:inline-block;width:32px;height:32px;margin-left:5px;background:url(../images/common/btn_datepicker.gif) no-repeat center center;text-indent:-999em;vertical-align:middle;}

body .ui-tooltip{font-size:12px;border-width:1px;box-shadow:none;padding:5px;}

/* switch */
.switch{display:inline-block;vertical-align:middle;}
.switch input{position:absolute;left:-9999px;opacity:0;}
.switch span{position:relative;width:65px;height:26px;background:#e8e8e8;display:inline-block;;border-radius:13px;cursor:pointer;-webkit-transition:150ms linear;transition:150ms linear;font-size:12px;}
.switch span:before{content:"off";position:absolute;right:10px;top:5px;color:#999999;text-transform:uppercase;line-height:14px;}
.switch span:after{-webkit-transition:150ms linear;transition:150ms linear;height:22px;width:22px;display:block;border-radius:999px;content:"";background:#fff;position:absolute;top:2px;left:2px;}
.switch input:checked+span{background:#dd0000;}
.switch input:checked+span:before{content:"on";left:12px;color:#fff;}
.switch input:checked+span:after{left:41px;}

/* width */
.inp_wid:after{content:'';display:block;clear:both;}
.inp_wid + .inp_wid{margin-top:5px;}
.inp_wid>input, .inp_wid>select, .inp_wid>label, .inp_wid>.button{float:left;width:100%;margin-left:2%;}
.inp_wid>.button{padding-left:0 !important;padding-right:0 !important;}
.inp_wid>input:first-child, .inp_wid>select:first-child, .inp_wid>label:first-child, .inp_wid>.button:first-child{margin-left:0 !important;}
.inp_wid.wid2>input, .inp_wid.wid2>select, .inp_wid.wid2>label, .inp_wid.wid2>.button{width:49%;}
.inp_wid.wid3>input, .inp_wid.wid3>select, .inp_wid.wid3>label, .inp_wid.wid3>.button{width:32%;}
.inp_wid.wid4>input, .inp_wid.wid4>select, .inp_wid.wid4>label, .inp_wid.wid4>.button{width:23.5%;}

/* ==========================================================================
   common
   ========================================================================== */
.fz_dw{font-size:0.875em;}
.fz_up{font-size:1.125em;}
.bold{font-weight:bold;}

.t_white{color:#fff}
.t_blk{color:#222}
.t_red{color:#dd0000}
.t_org{color:#ea7724}
.t_grn{color:#69bd25}
.t_blue{color:#3fb0ff;}
.t_gray{color:#999}
.t_yellow{color:#ffc000;}

.t_center{text-align:center;}
.t_left{text-align:left;}
.t_right{text-align:right;}

.f_left{float:left;}
.f_right{float:right;}
.clear{clear:both;}

.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb50{margin-bottom:50px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.w60{width:60px}
.w80{width:80px}
.w100{width:100px}
.w120{width:120px}
.w140{width:140px}
.w160{width:160px}
.w180{width:180px}
.w200{width:200px}
.w_50{width:50%}
.w_80{width:80%}
.w_100{width:100%}

.w_none{display:none;}
.block{display:block;}
.inblock{display:inline-block;}
.hide{display:none;}
.hidden{overflow:hidden;}
.blind{position:absolute;overflow:hidden;visibility:hidden;width:0px;height:0px;font-size:0;line-height:0;text-indent:-9999px;}
.ellipsis{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.op80{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}
.bgLayer{display:block;position:fixed;top:0;left:0;width:100%;height:100%;background:#333;opacity:0.6;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;z-index:160;}

.blur img{-webkit-filter:blur(6px);-moz-filter:blur(6px);filter:blur(6px);}
.grayscale img{
	filter:url(filters.html#gray);/* Gecko and FF*/
	filter:gray;/* IE */
	-moz-filter:grayscale(1);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-webkit-filter:grayscale(1);}
a.grayscale:hover img, a.grayscale:focus img, a.grayscale:active img{
	filter:none;
	-moz-filter:none;
	-ms-filter:none;
	-o-filter:none;
	-webkit-filter:none;}

/* Chrome, Safari용 스크롤 바 */
::-webkit-scrollbar{width:8px;height:8px;border:3px solid #fff;}
::-webkit-scrollbar-track{background:#efefef;-webkit-border-radius:10px;border-radius:10px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb{height:50px;width:50px;background:rgba(0,0,0,.2);-webkit-border-radius:8px;border-radius:8px;-webkit-box-shadow:inset 0 0 4px rgba(0,0,0,.1)}


/* ==========================================================================
   Layout
   ========================================================================== */
/* 2015-12-24 수정 */
#wrap{min-width:320px;background:#fff;}
	.inner{position:relative;width:1200px;margin:0 auto;}
#header{position:fixed;left:0;top:0;width:100%;z-index:103;background:#222222;}
	.inp_focus #header{position:absolute;}	
#header .inner{position:static;height:90px;}
	#logo{float:left;padding:29px 0;width:18.33%;font-size:0;}
	#logo a, #logo span{display:inline-block;width:190px;max-width:100%;height:32px;background:url(../images/common/logo.png) no-repeat left center;-webkit-background-size:100% auto;background-size:100% auto;text-indent:-999em;}
	.btn_pagePrev, .btn_gnb, .head_tit, .gnb_tab, #memberMenu, #mLogo{display:none;}
	.gnb_navi{width:55.01%;float:left;}
		.gnb_navi > ul{padding-top:33px;}
		.gnb_navi > ul > li{position:relative;float:left;width:25%;}
		.gnb_navi > ul > li > a{display:block;text-align:center;font-size:24px;color:#fff;line-height:1;padding:0 5px;}
		.gnb_navi > ul > li > ul{display:none;position:absolute;left:0;top:63px;width:100%;background:#333333;}
		.gnb_navi > ul > li > ul > li > a{display:block;padding:7px 0;text-align:center;font-size:16px;color:#aaaaaa;}
		.gnb_navi .mypage strong{display:inline-block;max-width:7.6em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:middle;color:#ffc000;}
		.ENG .gnb_navi .news{margin-top:-12px;}
	.head_member{float:right;width:26.66%;}
	.head_member > ul{padding:29px 0 0;}
	.head_member > ul li{float:left;width:50%;text-align:center;}
	.head_member > ul.one li{width:100%;}
	.head_member > ul li a{position:relative;display:inline-block;padding-right:35px;color:#fff;font-size:16px;line-height:32px;vertical-align:top;}
	.head_member > ul li a:after{content:'';display:inline-block;width:27px;height:27px;position:absolute;right:0;top:50%;margin-top:-13px;background-repeat:no-repeat;background-position:center center;}
	.head_member > ul li a span{display:inline-block;line-height:1.2;font-size:0.875em;vertical-align:top;}
	.head_member > ul li a span strong{display:inline-block;max-width:102px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align:top;color:#ffc000;}
	.head_member > ul li.login a:after{background-image:url(../images/common/ic_login.png);}
	.head_member > ul li.logout a:after{background-image:url(../images/common/ic_logout.png);}
	.head_member > ul li.join a:after{width:31px;background-image:url(../images/common/ic_join.png);}
	.head_member > ul li.mypage a:after{width:31px;background-image:url(../images/common/ic_mypage.png);}	
	.head_lang{position:absolute;right:10px;top:10px;text-align:right;}
	.head_lang .button{height:20px;line-height:18px;font-size:11px;padding:0 8px;border-radius:3px;background:#ee7039;border-color:#ee7039;color:#fff;}
	.head_cart{position:absolute;right:0;top:90px;width:100px;text-align:center;}
	.head_cart h3{padding:5px 0;background:#666666;color:#ffffff;font-size:1em;}
	.head_cart h3 strong{display:none;line-height:20px;width:20px;margin-left:5px;border-radius:50%;color:#fff;background:#dd0000;vertical-align:middle;font-size:0.875em;}
	.head_cart li{background:#f3f3f3;}
	.head_cart li + li{border-top:1px solid #dddddd;}
	.head_cart li > a{display:block;color:#222222;text-align:center;padding:17px 0;opacity:0.5;}
	.head_cart li.on > a{opacity:1;}
	.head_cart li > a span{display:block;margin-bottom:5px;}
	.head_cart li > a i{display:inline-block;width:58px;height:38px;box-sizing:border-box;text-align:center;font-size:1.429em;color:#dd0000;line-height:1;background-repeat:no-repeat;background-position:center center;font-style:normal;}
	.head_cart .h_cart i{padding:0px 5px 16px 13px;background-image:url(../images/common/head_cart.png);}
	.head_cart .h_coupon i{padding:11px 16px 5px 2px;background-image:url(../images/common/head_coupon.png);}
	.head_cart .h_lang{display:none;}
	.head_cart i.on{
		-webkit-animation-duration:3s;animation-duration:3s;
		-webkit-animation-fill-mode:both;animation-fill-mode:both;
		-webkit-animation-name:cartOn;animation-name:cartOn;
	}
	@-webkit-keyframes cartOn{
	  0%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  10%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  20%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  30%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  40%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  50%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  60%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  70%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  80%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  90%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  100%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	}
	
	@keyframes cartOn{
	  0%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  10%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  20%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  30%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  40%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  50%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  60%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  70%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  80%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	  90%{-webkit-transform: scale3d(1.25, 1.25, 1.25);-ms-transform: scale3d(1.25, 1.25, 1.25);transform: scale3d(1.25, 1.25, 1.25);opacity:0.7;}
	  100%{-webkit-transform: scale3d(1, 1, 1);-ms-transform: scale3d(1, 1, 1);transform: scale3d(1, 1, 1);opacity:1;}
	}
	
#container{padding-top:90px;width:1200px;margin:0 auto;background:#fff;}
#contents{position:relative;padding-bottom:90px;}
	.cont_inner{width:910px;margin:0 auto;}
	.page_top{position:relative;padding:3.25em 50px;text-align:center;}
	.page_top .btn_prev{display:none;width:22px;height:22px;position:absolute;left:10px;top:50%;margin-top:-11px;background:url(../images/common/btn_history_prev.png) no-repeat;-webkit-background-size:100% auto;background-size:100% auto;}
	.page_top .tit{display:inline-block;font-size:2.438em;color:#222222;line-height:1.2;border-bottom:2px solid #222;-webkit-animation-name:fadeInUp;animation-name:fadeInUp;-webkit-animation-duration:2s;animation-duration:2s;}
	.page_top .sub{display:none;font-size:1.5em;color:#dd0000;-webkit-animation-name:fadeInUp;animation-name:fadeInUp;-webkit-animation-duration:2s;animation-duration:2s;-webkit-animation-delay:0.2s;animation-delay:0.2s;}
	.sub_menu_wrap{margin-bottom:3em;}
	.sub_menu_wrap.fixed{height:57px;}
	.sub_menu{font-size:1.438em;border-bottom:1px solid #dddddd;text-align:center;}
	.sub_menu_wrap.fixed .sub_menu{position:fixed;width:1200px;top:90px;left:50%;margin-left:-600px;background:#fff;z-index:102;}
	.sub_menu .swiper-wrapper{display:inline;margin:0 auto;}
	.sub_menu.swiper-free-mode .swiper-wrapper{display:block;}
	.sub_menu li{float:none;display:inline-block;padding:0 10px;}
	.sub_menu.swiper-free-mode li{float:left;}
	.sub_menu li a{position:relative;display:inline-block;line-height:56px;padding:0 10px;text-align:center;color:#666666;vertical-align:middle;}
	.sub_menu li a:hover,
	.sub_menu li a:focus,
	.sub_menu li.on a{color:#222;}
	.sub_menu li.on a:after{content:'';display:block;position:absolute;left:0;width:100%;height:2px;bottom:0;background:#dd0000;
		/* -webkit-animation-delay:0.5s;animation-delay:0.5s; */
		-webkit-animation-duration:1s;animation-duration:1s;
		-webkit-animation-fill-mode:both;animation-fill-mode:both;
		-webkit-animation-timing-function:cubic-bezier(0.22, 0.61, 0.36, 1);animation-timing-function:cubic-bezier(0.22, 0.61, 0.36, 1);
		-webkit-animation-name:subOn;animation-name:subOn;
	}
	@keyframes -webkit-subOn{0%{left:50%;width:0;}100%{left:0;width:100%;}}
	@keyframes subOn{0%{left:50%;width:0;}100%{left:0;width:100%;}}

#footer{padding:2em 1.3em 1.3em;text-align:center;font-size:12px;border-top:1px solid #ddd;color:#696969;line-height:1;}
	.foot_menu{margin-bottom:1em;}
	.foot_menu li{display:inline-block;padding:0.5em 0;}
	.foot_menu li a{display:inline-block;padding:0 1.3em;color:#3c3c3c;vertical-align:middle;border-left:1px solid #a0a0a0;font-weight:bold;}
	.foot_menu li:first-child a{border-left:0 none;}
	.foot_info{padding-bottom:0.5em;}
		.ENG .foot_info{display:none;}
	.foot_info ul{margin-bottom:0.5em;}
	.foot_info li{display:inline-block;padding:0.3em 0;}
	.foot_info li > span{display:inline-block;padding:0 0.8em;vertical-align:middle;}
	.foot_info li:first-child > span{border-left:0 none;}

/* ==========================================================================
   component
   ========================================================================== */
/* skip_Navi */
#skipNavi{position:relative;}
	#skipNavi a{display:block;position:absolute;left:0;top:-5em;width:15em;text-align:center;color:#fff;background:#000;z-index:200;}
	#skipNavi a:focus, #skipNavi a:hover{top:0px;}

/* toTop */
#toTop{display:none;position:fixed;right:10px;bottom:10px;width:60px;height:60px;font-size:0;text-indent:-1000px;text-align:center;color:#fff;background:url(../images/common/toTop.png) center center no-repeat #fede5d;opacity:0.7;filter:alpha(opacity=70);border-radius:100%;}
	#toTop:hover, #toTop:focus, #toTop.hover{opacity:1;filter:alpha(opacity=100);}

/* 제목요소 */
.cont_tit{font-size:1.286em;color:#222;margin:2em 0 .833em;}
strong.cont_tit{display:inline-block;}
.cont_tit:first-child{margin-top:0;}
.cont_tit .tit_logo{height:30px;}
.line_tit{text-align:center;font-size:1.714em;color:#222222;}
.line_tit span{display:ininle-block;border-bottom:1px solid #222222;}

/* 버튼 */
.button_wrap{position:relative;margin-top:2em;text-align:center;overflow:hidden}
.button{display:inline-block;padding:0px 15px;line-height:38px;border:1px solid #505050;color:#222;background:#fff;text-align:center;vertical-align:middle;font-weight:600;box-sizing:border-box;font-size:16px;cursor:pointer;-webkit-appearance:none;-webkit-border-radius:0;}
	.button.h20{padding:0px 5px;font-size:12px;line-height:18px;}
	.button.h30{padding:0px 10px;font-size:14px;line-height:28px;}
	.button.h50{padding:0px 25px;font-size:18px;line-height:48px;}

	.button.btn_gray{background:#222;color:#fff;}
	.button.btn_org{background:#fff;border-color:#ee7039;color:#ee7039;}
	.button.btn_red{background:#dd0000;border-color:#dd0000;color:#fff;}
	.button.btn_flicker{background:#222;border-color:#222;color:#fff;-webkit-animation-duration:1s;animation-duration:1s;
		-webkit-animation-fill-mode:both;animation-fill-mode:both;
		-webkit-animation-iteration-count: infinite;animation-iteration-count: infinite;
		-webkit-animation-name:colorOn;animation-name:colorOn;
	}
	@-webkit-keyframes colorOn{
	  0%{background:#222;border-color:#222;}	  
	  50%{background:#dd0000;border-color:#dd0000;}
	}
	
	@keyframes colorOn{
	   0%{background:#222;border-color:#222;}	  
	  50%{background:#dd0000;border-color:#dd0000;}
	}
	
	.button.w100{width:100px;padding-left:0;padding-right:0;}
	.button.w200{width:200px;padding-left:0;padding-right:0;}
.btn_sort{display:inline-block;border:1px solid #b4b4b4;vertical-align:middle;}
.btn_sort a{display:inline-block;padding:5px 20px;border-left:0px solid #b4b4b4;text-align:center;line-height:20px;font-size:0.875em;}
.btn_sort a:first-child{border-left:0 none;}
.btn_sort a.on{color:#fff;background:#dd0000;}

.btn_link:hover{text-decoration:underline;}

.btn_wrap{position:relative;margin-top:25px;text-align:center}
.btn_wrap.fixed{padding:15px;margin:0;background:#fff;position:fixed;left:0;right:0;bottom:0;box-shadow:0 0 10px #ccc;}
.btn_wrap:after{content:'';display:block;clear:both;}
.btn_wrap>.button{float:left;width:100%;margin-left:2%;padding-left:0;padding-right:0;}
.btn_wrap>.button:first-child{margin-left:0;}
.btn_wrap.btn1>.button + .button{margin-top:10px;margin-left:0;}
.btn_wrap.btn2>.button{width:49%;}
.btn_wrap.btn3>.button{width:32%;}
.btn_wrap.btn4>.button{width:23.5%;}

.btn_txt{position:relative;display:inline-block;color:#222222;font-size:16px;vertical-align:middle;line-height:40px;letter-spacing:-2px}
.btn_txt span{position:relative;display:inline-block;color:#fff;background:#222222;width:40px;height:40px;text-align:center;border-radius:50%;margin-left:10px;text-indent:-2px;vertical-align:top;z-index:1;}
.btn_txt span:before{content:'';display:block;position:absolute;right:0;top:0;width:40px;height:40px;border-radius:50%;background:#222;-webkit-transition:all 0.3s;transition:all 0.3s;z-index:-1;}
.btn_txt .sub{position:absolute;left:0;bottom:0;right:50px;text-align:center;font-size:0.75em;line-height:1;font-style:normal;}
.btn_txt:hover span:before{-webkit-transform:scale(1.2);transform:scale(1.2);}
.btn_txt.btn_red span{background:#dd0000;}
.btn_txt.btn_red span:before{background:#dd0000;}
.btn_txt.h60{line-height:60px;font-size:24px;}
.btn_txt.h60 span:before{width:60px;height:60px;}
.btn_txt.h60 span{width:60px;height:60px;margin-left:15px;}
.btn_txt.h60 .sub{right:75px;}
.btn_txt_wrap{text-align:center;margin-top:1em;padding:1em 0;}
.btn_txt_wrap:after{content:'';display:block;clear:both;}
.btn_txt_wrap .left{float:left;}
.btn_txt_wrap .right{float:right;}
.btn_txt_wrap .btn_txt.h60{margin:-10px 0;}
.btn_txt_wrap .btn_txt + .btn_txt{margin-left:20px;}

.sel_list{position:relative;border:1px solid #c8c8c8;background:#fff;}
.sel_list a{display:block;padding:7px;font-size:14px;overflow:hidden;padding-right:20px;}
.sel_list a span{float:left;}
.sel_list a strong{float:right;}
.sel_list ul{display:none;position:absolute;left:-1px;right:-1px;border:1px solid #c8c8c8;border-top:0 none;top:100%;width:100%;background:#fafafa;}
.sel_list.on ul{display:block;}
.sel_list ul a:hover,
.sel_list ul a:focus{background:#eee;}
.sel_list ul .on a{font-weight:bold;color:#222;}
/* icon */
.ic_txt{display:inline-block;border:1px solid #4c4c4c;text-align:center;color:#fff;padding:0px 5px;vertical-align:middle;background:#4c4c4c;font-size:0.875em;line-height:1.3;}
.ic_txt.ic_wht{color:#dd0000;border-color:#dd0000;background:#fff;}
.ic_txt.ic_red{background:#dd0000;border-color:#dd0000;}
.ic_txt.ic_green{background:#18a327;border-color:#18a327;}
.ic_call{padding-left:15px;background:url(../images/common/ic_call.gif) no-repeat left center;}
.ic_state{display:inline-block;min-width:60px;text-align:center;color:#fff;padding:3px 5px;vertical-align:middle;background:#505050;font-size:0.75em;font-style:normal;border-radius:15px;}
.ic_state.red{background:#dd0000;}
.ic_state.yellow{background:#ffc000;color:#505050;}
.ic_state.blue{background:#3fb0ff;}

/* 탭메뉴 */
.tabmenu{margin-bottom:40px;text-align:center;}
.tabmenu > li{display:inline;}
.tabmenu > li > a{display:inline-block;width:158px;padding:1em 0;text-align:center;background:#3c3c3c;color:#fff;font-weight:bold;}
.tabmenu > li > a:hover,
.tabmenu > li > a:focus,
.tabmenu > li > a:active,
.tabmenu > li.on > a{color:#fff;background:#dd0000;}
.tabmenu2{margin-bottom:30px;}
.tabmenu2 > li{float:left;width:50%;}
.tabmenu2 > li > a{position:relative;display:block;padding:0.5em 0;border:1px solid #eeeeee;border-bottom-color:#dd0000;text-align:center;background:#eee;font-weight:bold;color:#666666;}
.tabmenu2 > li.on > a{color:#222222;background:#fff;border-color:#dd0000;border-bottom-color:#fff;}
.tab_cont{display:none}
.tab_cont.on{display:block}
.rdo_cont{display:none}
.rdo_cont.on{display:block}

/*테이블*/
.table_wrap{}
.table{border-top:1px solid #c8c8c8;table-layout:fixed;}
.table th, .table td{border-bottom:1px solid #c8c8c8;text-align:center;word-break:break-all;}
.table th{padding:15px 20px;color:#222;}
.table td{padding:10px 20px;}
.table thead th{border-top-color:#666;}
.table tfoot th,.table tfoot td{background:#f3f3f3;}
.table img{max-width:100%;}
.table .bg_gray th, .table .bg_gray td{background:#f0f0f0;}
.table .none{padding-top:2em !important;padding-bottom:2em !important;}
.table.tbl_left td{border-left:1px solid #c8c8c8;text-align:left;}
.table.tbl_left .first{border-left:0 none;}
.table.tbl_hover tr:hover th,.table.tbl_hover tr:hover td{background:#fafafa;}
.table.tbl_form textarea{height:300px;}
.table .t_center{text-align:center;}
.table .t_left{text-align:left;}
.table .t_right{text-align:right;}
.table .bg{background:#f3f3f3;}
.table .bg strong{color:#222;}
.table2 th, .table2 td{border:1px solid #dddddd;border-right:0 none;padding:0.5em 0.3em;text-align:center;}
.table2 .td_right{text-align:right;color:#ff0000}
.table2 th{background:#f0f0f0;}
.table2 .odd td{background:#fafafa;}
.table2 th:first-child, .table2 td:first-child{border-left:0 none;}
.table2 .t_left{text-align:left;}
.table2 .t_right{text-align:right;}
.table table.in_table{font-size:0.875em;}
.table table.in_table th,
.table table.in_table td{padding:5px;text-align:center;background:none;border:1px solid #ddd;border-width:1px 0;}
.table table.in_table th{color:#666;background:#fafafa;}
.table tr.disabled td{background:#f6f6f6;color:#aaa;}
.table tr.disabled td .txt strong,
.table tr.disabled td .t_red{color:#aaa;}
/* .table tr.on td{background:#ffeeee;} */

.tbl_search{margin-bottom:5px;text-align:right;}
.tbl_search select{width:70px;}
.tbl_search input{width:150px;}

/* list_view */
.list_view{border-top:1px solid #e6e6e6;}
.list_view > li{padding:15px 20px;border-bottom:1px solid #e6e6e6;overflow:hidden;}
.list_view .tit h3{display:inline;color:#505050;vertical-align:middle;}
.list_view .tit .date{float:right;display:inline-block;}
.list_view .tit .num{display:inline-block;}
.list_view .tit .ic_txt{margin-right:5px;}
.list_view .cont{padding:30px 20px;min-height:200px;word-break:break-all;}
.list_view .cont img{max-width:100%}
.list_view .cont *{font-family:inherit !important;}
.list_view .img{text-align:center;margin-bottom:2em;}
.list_view .link{border-top:1px solid #000000;}
.list_view .link a{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.list_view .link .ic_txt{margin-right:6px;}
.list_view + .list_navi{border-top:0 none;}
.list_navi{border-top:1px solid #e6e6e6;}
.list_navi li{padding:10px 20px;border-bottom:1px solid #e6e6e6;}
.list_navi li>a,.list_navi li>span{display:block;padding-left:36px;line-height:40px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.list_navi .prev>a, .list_navi .prev>span{background:url(../images/common/list_prev.png) no-repeat left center;}
.list_navi .next>a, .list_navi .next>span{background:url(../images/common/list_next.png) no-repeat left center;}

/*페이징*/
.list_paging{clear:both;margin-top:2.5em;text-align:center;}
.list_paging a{display:inline-block;}
.list_paging > img{opacity:0.4;filter:alpha(opacity=40);}
.list_paging a img{opacity:1;filter:alpha(opacity=100);}
.list_paging span{margin:0 10px}
.list_paging span a, .list_paging span strong{display:inline-block;width:25px;line-height:25px;vertical-align:middle;}
.list_paging span a:hover, 
.list_paging span a:focus, 
.list_paging span a:active,
.list_paging span strong{color:#dd0000;font-weight:bold;}

/* faq */
.faq_list{border:1px solid #000;border-width:1px 0;}
.faq_list > dt{position:relative;padding:0 0 0 5.625em;border-top:1px solid #ccc;}
.faq_list > dt:before{content:'Q';display:block;position:absolute;left:1em;top:0.4em;font-weight:bold;font-size:2em;line-height:1;color:#000;}
	.faq_list > dt.no_list{padding:1.875em 1.5em;text-align:center;background:none;color:#999;}
.faq_list > dt:first-child{border-top:0 none;}
.faq_list > dt > a{display:block;padding:1.125em 1.5em 1.125em 0px;}
.faq_list > dt > a:hover,
.faq_list > dt > a:focus,
.faq_list > dt > a:active,
.faq_list > dt.on > a{font-weight:bold;color:#222;}
.faq_list > dt.on{background-color:#f7f7f7;}
.faq_list > dt.on > a{}
.faq_list > dd{display:none;position:relative;padding:1.125em 1.5em 1.125em 5.625em;background:#f7f7f7;color:#333333;}
.faq_list > dd:before{content:'A';display:block;position:absolute;left:1em;top:0.4em;font-weight:bold;font-size:2em;line-height:1;color:#dd0000;}


/*etc*/
.m_img{display:none;}
.img_area{text-align:center;overflow:hidden;}
.img_area img{max-width:100%;}

.txt_list{padding-left:1.5em;}
.txt_list li{margin-top:5px;list-style:disc;}
.txt_list li:first-child{margin-top:0;}
.indent_list li{padding-left:10px;text-indent:-10px}
.num_list{padding-left:1.5em;}
.num_list li{list-style-type:decimal;}
.dot_list li{position:relative;padding-left:13px;margin-bottom:5px;}
.dot_list li:after{content:'';width:2px;height:2px;position:absolute;left:0;top:10px;border-radius:100%;background:#666;}

.dot_list2 > li{padding-left:12px;margin-bottom:10px;background:url(../images/common/dot_li.gif) no-repeat left 10px;font-size:16px;}
.boxStyle{padding:15px 12px;border:1px solid #d0d2d8;}

.no_img{position:relative;background:#eee;text-align:center;}
.no_img img{max-width:100%;opacity:0;filter:alpha(opacity=0);}
.no_img span{display:inline-block;width:120px;height:18px;position:absolute;left:50%;top:50%;margin:-9px 0 0 -60px;background:url(../images/common/logo.png) no-repeat;-webkit-background-size:100% auto;background-size:100% auto;text-indent:-999em;font-size:0;color:transparent;opacity:0.5;filter:alpha(opacity=50);
	filter:url(filters.html#gray);
	filter:gray;/* IE */
	-moz-filter:grayscale(1);
	-ms-filter:grayscale(100%);
	-o-filter:grayscale(100%);
	-webkit-filter:grayscale(1);}

.loading{display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:url(../images/common/bg_pop.png);z-index:150;}
.loading p{position:absolute;left:50%;top:50%;margin:-62px 0 0 -80px;}

/* ==========================================================================
   popup
   ========================================================================== */

.pop_bg{display:none;position:fixed;left:0;right:0;top:0;bottom:0;padding:30px 10px;overflow-x:hidden;overflow-y:auto;background:url(../images/common/bg_pop.png);z-index:110;}
.pop_bg .pop_wrap{opacity:0;-webkit-transition:opacity 0.3s ease;transition:opacity 0.3s ease;}
.pop_bg.on .pop_wrap{opacity:1;}
.pop_wrap{position:relative;width:640px;margin:0 auto;background:#fff;border:1px solid #333;box-sizing:border-box;}
.pop_wrap h1{padding:20px 55px 0px 20px;font-size:1.5em;line-height:24px;color: #222;}
.pop_wrap h1 span{display:inline-block;padding:5px;border-bottom:1px solid #222;}
.pop_wrap h1 .logo{display:inline-block;width:190px;max-width:100%;height:32px;background:url(../images/common/logo_red.png) no-repeat left center;-webkit-background-size:100% auto;background-size:100% auto;text-indent:-999em;font-size:0;vertical-align:middle;}
.pop_wrap .pop_cont{padding:30px 20px;}
.pop_wrap .pop_foot{padding:30px 20px;border-top:1px solid #ddd;}
.pop_wrap .pop_foot:after{content:'';display:block;clear:both;}
.pop_wrap .btn_close{display:block;position:absolute;right:20px;top:21px;width:32px;height:32px;background:url(../images/common/pop_close2.png) no-repeat center center;-webkit-background-size:100% auto;background-size:100% auto;text-indent:-9999em;overflow:hidden;}
.pop_wrap .pop_foot .btn_close{position:static;float:right;}
.pop_wrap .pop_foot .button_wrap{margin-top:0;}


/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */
@media only screen and (max-width:1400px){
	.head_cart{right:-100px;-webkit-transition:right 0.3s ease;transition:right 0.3s ease;}
	.head_cart.on{right:0;}
	.head_cart h3{position:absolute;top:0;left:-25px;width:25px;padding:10px 0;text-align:center;line-height:1;/* writing-mode:vertical-lr; */border-radius:10px 0 0 10px;cursor:pointer} 
	.head_cart h3:before{content:'';display:inline-block;width:18px;height:18px;margin-bottom:5px;background:#333 url(../images/common/bg_headcart.png) no-repeat center center;border:1px solid #999;border-radius:50%;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:transform 0.3s ease;transition:transform 0.3s ease;}
	.head_cart.on h3:before{-webkit-transform:rotate(180deg);transform:rotate(180deg);}
	.head_cart h3:after{content:'';display:block;width: 7px;height: 7px;position:absolute;right: -3px;bottom: -7px;border: 1px solid #666;border-width: 3px 3px 0 0;border-radius: 0 10px 0 0;}
	.head_cart h3 strong{display:inline-block;margin:5px 0 0 0;}
	.head_cart ul{border-left:3px solid #666;}
	/* .head_cart h3:after{content:' 열기'}
	.head_cart.on h3:after{content:' 닫기'} */
}
@media only screen and (min-width:1200px){
	.sub_menu .swiper-wrapper{-webkit-transform:translate3d(0px, 0px, 0px) !important;transform:translate3d(0px, 0px, 0px) !important;}
}
@media only screen and (max-width:1200px){
	/* layout */
	.inner{width:auto;}
	#container{width:auto;}
	#logo{box-sizing:border-box;padding-left:20px;}
}
@media only screen and (max-width:1024px){
	/* layout */
	#header{background:#fff;box-shadow:0 0 5px #ddd;}
	.sub_menu_body #header{box-shadow:none}
	#header .inner{position:relative;}
	.btn_pagePrev{display:block;position:absolute;left:30px;top:25px;}
	.btn_pagePrev a{position:relative;display:block;width:42px;height:42px;}
	.btn_pagePrev a:before, .btn_pagePrev a:after{content:'';display:block;position:absolute;left:0;height:50%;width:4px;background:#222;border-radius:2px;}
	.btn_pagePrev a:before{top:0;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:left bottom;transform-origin:left bottom;}
	.btn_pagePrev a:after{top:50%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:left top;transform-origin:left top;}
	.btn_pagePrev a i{content:'';display:block;height:4px;background:#222222;position:absolute;left:2px;width:90%;top:50%;margin-top:-2px;border-radius:2px;}
	.btn_gnb{display:block;position:absolute;right:30px;top:25px;z-index:18;transition:right 0.5s ease;}
	.btn_gnb a{display:block;width:42px;height:42px;}
	.btn_gnb i:before,
	.btn_gnb i:after{content:'';transition-duration:0.3s, 0.2s;transition-delay:0.5s, 0s;}
	.btn_gnb i:before,
	.btn_gnb i:after,
	.btn_gnb i{position:absolute;display:block;left:0px;top:19px;width:100%;height:4px;background:#222222;border-radius:2px;}
	.btn_gnb i:before{top:-14px;-webkit-transition-property:top, transform;transition-property:top, transform;}
	.btn_gnb.on i:before{width:70%;}
	.btn_gnb i:after{top:auto;width:62%;bottom:-14px;-webkit-transition-property:bottom, transform;transition-property:bottom, transform;}
	.btn_gnb.on a:before{content:'';position:absolute;right:0px;top:1px;display:block;padding:5px;background:#dd0000;border-radius:50%;z-index:1;}
	.gnb_open{overflow:hidden;}
	.gnb_open .btn_gnb{right:600px;-webkit-transition-delay:0s;transition-delay:0s;}
	.gnb_open .btn_gnb i{background:none;-webkit-transition:background 0s 0.3s;-webkit-transition:background 0s 0.3s;transition:background 0s 0.3s}
	.gnb_open .btn_gnb i:before{top:0px;width:100%;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition-delay:0s, 0.3s;transition-delay:0s, 0.3s;background:#fff;}
	.gnb_open .btn_gnb i:after{bottom:0px;width:100%;-webkit-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition-delay:0s, 0.3s;transition-delay:0s, 0.3s;background:#fff;}
	.gnb_open .btn_gnb.on a:before{display:none;}
	.gnb_wrap{position:fixed;top:0;height:100%;left:100%;width:100%;box-sizing:border-box;z-index:11;-webkit-transition:background 0.5s ease 0s, left 0s ease 0.5s;transition:background 0.5s ease 0s, left 0s ease 0.5s;}
	.gnb_open .gnb_wrap{left:0;background:rgba(0,0,0,0.5);-webkit-transition-delay:0s,0s;transition-delay:0s,0s;}
	.gnb_wrap > div{position:absolute;right:-570px;top:0;height:100%;width:570px;overflow:auto;background:#222222;-webkit-transition:right 0.5s ease;transition:right 0.5s ease;}
	.gnb_open .gnb_wrap > div{right:0;}
	.head_tit{padding:21px 80px;text-align:center;font-size:32px;color:#222222;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
	/*.mobileApp .head_tit{display:block}*/
	.m_top{padding:20px 25px;background:#eeeeee;height:230px;box-sizing:border-box;}
	#logo{text-align:center;float:none;width:auto;padding-left:0;}
	/*.mobileApp #logo{display:none;}*/
	#logo a, #logo span{margin-left:0;background-image:url(../images/common/logo_red.png);}
	#mLogo{display:block;}
	#mLogo a{display:block;width:165px;height:20px;background:url(../images/common/m_logo.png) no-repeat center center;-webkit-background-size:100% auto;background-size:100% auto;text-indent:-999em;}
	.gnb_tab{display:block;border-bottom:1px solid #595959;}
	.gnb_tab li{float:left;width:50%;}
	.gnb_tab li a{position:relative;display:block;padding:23px 0;text-align:center;color:#666666;font-size:36px;}
	.gnb_tab li a:after{content:'';display:block;position:absolute;left:50%;width:0;bottom:0;height:2px;background:#fff;-webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
	.gnb_tab li.on a{font-weight:bold;color:#fff;}
	.gnb_tab li.on a:after{left:0;width:100%;}
	.gnb_navi{float:none;margin:0;width:auto;}
	.gnb_navi > ul{padding:0;height:auto;}
	.gnb_navi > ul > li{float:none;width:auto;}
	.gnb_navi > ul > li > a{position:relative;padding:30px 40px 30px 118px;text-align:left;font-size:30px;color:#8e8e8e;}
	.gnb_navi > ul > li > a:hover,
	.gnb_navi > ul > li > a:focus,
	.gnb_navi > ul > li.on > a{color:#fff;}
	.gnb_navi > ul > li > a:before{content:'';display:inline-block;width:52px;height:35px;position:absolute;left:40px;top:50%;margin-top:-18px;background:url(../images/common/ic_gnb1.png) no-repeat center center;-webkit-background-size:100% auto;background-size:100% auto;}
	.gnb_navi > ul > li.pickup > a:before{background-image:url(../images/common/ic_gnb2.png);}
	.gnb_navi > ul > li.news > a:before{background-image:url(../images/common/ic_gnb3.png);}
	.gnb_navi > ul > li.store > a:before{background-image:url(../images/common/ic_gnb4.png);}
	.gnb_navi > ul > li.mypage > a:before{background-image:url(../images/common/ic_gnb5.png);}
	.gnb_navi > ul > li.coupon > a:before{background-image:url(../images/common/ic_gnb6.png);}
	.gnb_navi > ul > li.coupon2 > a:before{background-image:url(../images/common/ic_gnb7.png);}
	.gnb_navi > ul > li.coupon3 > a:before{background-image:url(../images/common/ic_gnb8.png);}
	.gnb_navi > ul > li.setting > a:before{background-image:url(../images/common/ic_gnb9.png);}
	.gnb_navi > ul > li > a.in_sub:after{content:'';display:block;position:absolute;right:30px;top:50%;width:11px;height:11px;margin-top:-6px;border:2px solid #fff;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg) translateY(-50%);transform:rotate(45deg) translateY(-50%);-webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
	.gnb_navi > ul > li.on > a.in_sub:after{-webkit-transform:rotate(225deg) translateY(-50%);transform:rotate(225deg) translateY(-50%);}	
	.gnb_navi > ul > li > ul{position:static;top:auto;}
	.gnb_navi > ul > li > ul > li{float:left;width:50%;}
	.gnb_navi > ul > li > ul > li > a{padding:30px 0;font-size:26px;}
	.ENG .gnb_navi .news{margin-top:0;}
	
	.head_cart{position:absolute;right:0;bottom:auto;top:115px;width:100%;}
	.head_cart h3{display:none;}
	.head_cart ul{border:0 none;}
	.head_cart li{display:block;float:left;width:33.3%;box-sizing:border-box;background:none;border-radius:0;}
	.head_cart li + li{border-top:0 none;border-left:1px solid #ddd;}
	.head_cart li > a{padding:0;}
	.head_cart li > a span{font-size:24px;}
	.head_cart .h_lang{display:block;border:none;float:none;width:auto;padding:0 25px 20px;text-align:right;}
	.head_cart .h_lang .button{background:none;}
	.head_member{position:absolute;right:25px;top:15px;width:60%;}
	.head_member > ul{padding:0;text-align:right;}
	.head_member > ul li{text-align:right;float:none;display:inline-block;width:auto;vertical-align:top;}
	.head_member > ul li a{color:#222;}
	.head_member > ul li a span{display:inherit;font-size:inherit;line-height:inherit;}
	.head_member > ul li.login,
	.head_member > ul li.mypage{margin-right:10px;}
	.head_member > ul li.mypage a{padding-right:0;}
	.head_member > ul li.mypage a:after{display:none;}
	.head_member > ul li.mypage span br,
	.head_member > ul li.mypage span span{display:none;}

	#container{padding-top:90px;}
	#container.top{padding-top:0px;}
	/*.mobileApp #contents{padding-top:40px;}*/
	.cont_inner{width:auto;padding:0 20px;}	
	.page_top{padding:1.5em 20px;}
	/*.mobileApp .page_top{display:none;}*/
	.sub_menu_wrap{margin-bottom:0;}
	.sub_menu_wrap.fixed{height:auto;}
	.sub_menu_wrap.fixed .sub_menu, .sub_menu{position:fixed;left:0;top:90px;width:100%;margin:0;background:#fff;z-index:102;}
		.inp_focus .sub_menu_wrap.fixed .sub_menu, 
		.inp_focus .sub_menu{position:absolute;top:-57px}
	.sub_menu_body #container{padding-top:147px;}
	
	.tabmenu > li{display:block;float:left;width:50%;padding:0 1px;box-sizing:border-box;}
	.tabmenu.tab3 > li{width:33.33%;}
	.tabmenu.tab4 > li{width:25%;}
	.tabmenu.tab5 > li{width:20%;}
	.tabmenu.tab6 > li{width:16.66%;}
	.tabmenu > li > a{display:block;width:auto;}
	
	.mobileApp .foot_menu{margin-bottom:0;}
	.mobileApp .foot_info,
	.mobileApp .foot_copy{display:none;}	
}
@media only screen and (max-width:760px){
	/* layout */
	html{height:100%;}
	.hidden body, .gnb_open body{height:100%;overflow:hidden;}
	body{font-size:12px;}
	#header .inner{height:45px;}
	.btn_pagePrev{left:15px;top:12px;}
	.btn_pagePrev a{width:20px;height:20px;}
	.btn_pagePrev a:before, .btn_pagePrev a:after{width:2px;border-radius:1px;}
	.btn_pagePrev a i{height:2px;left:1px;border-radius:1px;margin-top:-1px;}
	.btn_gnb{right:15px;top:12px;}
	.btn_gnb a{width:20px;height:20px;}
	.btn_gnb i:before,
	.btn_gnb i:after,
	.btn_gnb i{top:8px;height:2px;border-radius:1px;}
	.btn_gnb i:before{top:-7px;}
	.btn_gnb i:after{top:auto;bottom:-7px;}
	.btn_gnb.on a:before{right:-2px;top:-2px;padding:3px;}
	.gnb_open .btn_gnb{right:285px;}
	.gnb_wrap > div{right:-280px;width:280px;}
	.head_tit{padding:10px 40px;font-size:16px;}
	.m_top{padding:15px;background:#eeeeee;height:125px;}
	#logo{padding:14px 0;}
	#logo a, #logo span{width:95px;height:16px;}	
	.head_tit img{height:18px;}	
	#mLogo a{width:83px;height:10px;}
	.gnb_tab li a{padding:12px 0;font-size:18px;}
	.gnb_navi > ul > li > a{padding:15px 20px 15px 60px;font-size:15px;}
	.gnb_navi > ul > li > a:before{width:26px;height:18px;margin-right:13px;left:20px;margin-top:-9px;}
	.gnb_navi > ul > li > a.in_sub:after{right:15px;width:6px;height:6px;margin-top:-4px;border-width:0 1px 1px 0;}
	.gnb_navi > ul > li > ul > li > a{padding:15px 0;font-size:13px;}
	
	.head_cart{top:65px;}
	.head_cart li > a span{font-size:12px;}
	.head_cart li > a i{width:30px;height:20px;font-size:12px;-webkit-background-size:100% auto;background-size:100% auto;}
	.head_cart .h_cart i{padding:0px 3px 9px 6px;}
	.head_cart .h_coupon i{padding:6px 8px 3px 1px;}
	.head_cart .h_lang{padding:0 15px 10px;}
	.head_cart .h_lang .button{background:none;height:20px;line-height:18px;padding:0 10px;font-size:11px;}
	.head_member{position:absolute;right:14px;top:8px;}
	.head_member > ul li a{font-size:12px;line-height:24px;padding-right:22px;}
	.head_member > ul li a:after{width:14px;height:14px;-webkit-background-size:100% auto;background-size:100% auto;margin-top:-7px;}
	.head_member > ul li a span strong{max-width:80px}
	.head_member > ul li.join a:after,.head_member > ul li.mypage a:after{width:17px;}
	.head_member > ul li.login,
	.head_member > ul li.mypage{margin-right:5px;}
	
	#container{padding-top:45px;}
	#contents{padding-bottom:50px;min-height:250px;}
	.mobileApp #contents{/*padding-top:20px;*/min-height:400px;}
	.cont_inner{padding:0 10px;}
	.cont_tit .tit_logo{height:23px;}
	.page_top{padding:16px 10px;display:none;}
	.page_top .tit{font-size:25px;border-bottom-width:1px;}
	.page_top .sub{font-size:12px;}
	.sub_menu_wrap.fixed .sub_menu, .sub_menu{top:45px;font-size:13px;}
		.inp_focus .sub_menu_wrap.fixed .sub_menu, 
		.inp_focus .sub_menu{top:-31px}
	.sub_menu li{padding:0 5px;}
	.sub_menu li a{line-height:30px;padding:0 5px;}
	.sub_menu_body #container{padding-top:86px;}
	#footer{padding:1.3em 1em;font-size:10px;}
	.mobileApp #footer{padding-bottom:3em;}
	.fixed_btn_body #footer{padding-bottom:70px;}
	.mobileApp.fixed_btn_body #footer{padding-bottom:55px;}
	.foot_menu li a{padding:0 0.7em;}
	.loading p{margin:-31px 0 0 -40px;}
	.loading img{width:80px;height:62px;}

	/* component */
	.m_none, .w_img{display:none;}
	.w_none{display:block;}
	.m_img{display:inline;}
	
	input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{height:30px;line-height:28px;padding:0 10px;}
	input[type="file"]{padding:0px;line-height:17px;}
	select{height:30px;line-height:28px;padding:0 5px;}
	textarea{padding:10px;min-height:80px;}
	.input_file{padding-right:72px;}
	span.input_file > input{width:170px;}
	.ui-datepicker-trigger{width:30px;height:30px;-webkit-background-size:23px 23px;background-size:23px 23px;}
	
	.checkbox input, .radio input{width:20px;height:20px;}
	.checkbox input+.lbl, .radio input+.lbl{line-height:16px;min-height:16px;padding:2px 0 2px 25px;}
	.checkbox.only input+.lbl, .radio.only input+.lbl{padding-left:20px;}
	.checkbox input+.lbl:before, .radio input+.lbl:before{width:20px;height:20px;}
	.checkbox input+.lbl:after{width:12px;height:6px;top:3px;left:5px;border-width:2px;}
		.checkbox.bookmark input+.lbl:after{width:14px;height:14px;top:3px;left:3px;border:0 none;}
	.radio input+.lbl:after{width:10px;height:10px;top:5px;left:5px;}
	.lbl_area:after{content:'';display:block;clear:both;}
	.lbl_area > label{float:left;width:50%;margin:0.3em 0;}
	
	.inp_spinner{padding:0 35px;}
	.inp_spinner input{width:40px;text-align:center;line-height:30px;height:30px;padding:0;}
	.inp_spinner .btn{width:28px;height:28px;border-width:1px;-webkit-background-size:10px auto !important;background-size:10px auto !important;}
	
	#toTop{width:40px;height:40px;-webkit-background-size:20px auto;background-size:20px auto;}
	.button{padding:0px 10px;line-height:28px;max-width:100%;font-size:13px;}
	.button_wrap:after{content:'';display:block;clear:both;}
	.button_wrap.btn1 .button{width:100%;padding-left:0 !important;padding-right:0 !important;}
	.button_wrap.btn2 .button{float:left;width:49%;padding-left:0 !important;padding-right:0 !important;}
	.button_wrap.btn2 .button + .button{margin-left:2%;}
	.button_wrap.btn3 .button{float:left;width:32%;font-size:12px;padding-left:0 !important;padding-right:0 !important;}
	.button_wrap.btn3 .button + .button{margin-left:2%;}
	.button.h20{line-height:13px;font-size:11px;}
	.button.h30{padding:0 5px;line-height:18px;font-size:12px;}
	.button.h50{padding:0px 15px;line-height:38px;font-size:14px;}
	.btn_sort a{padding:3px 10px;line-height:14px;}
	
	.btn_txt{font-size:12px;line-height:30px;letter-spacing:-1px}
	.btn_txt span:before{display:none;}
	.btn_txt span{width:30px;height:30px;margin-left:5px;text-indent:-1px;}
	.btn_txt .sub{right:35px;}
	.btn_txt.h60{line-height:40px;font-size:16px;}
	.btn_txt.h60 span{width:40px;height:40px;margin-left:7px;}
	.btn_txt.h60 .sub{right:47px;}
	.btn_txt_wrap .btn_txt.h60{margin-top:-5px;margin-bottom:-5px;}

	.sel_list a{padding:4px;font-size:11px;padding-right:20px;}
	.sel_list > a{-webkit-background-size:auto 3px;background-size:auto 3px;}
	.ic_txt{line-height:18px;padding:0 3px;}
	.ic_state{min-width:0;padding:2px 5px;border-radius:10px;}
		
	.table{font-size:12px;}
	.table th{padding:10px 5px;}
	.table td{padding:10px 5px;}	
	.table.tbl_form, .table.tbl_form tr, .table.tbl_form th, .table.tbl_form td{display:block;}
	.table.tbl_left.tbl_form tr:first-child th, .table.tbl_left.tbl_form tr:first-child td{border-color:#ccc;}
	.table.tbl_left.tbl_form tr:first-child th:first-child{border-top-color:#666;}
	.table.tbl_form th{text-align:left;}
	.table.tbl_form th br{display:none;}
	.in_table{display:table !important;}
	.in_table tr{display:table-row !important;}
	.in_table th, .in_table td{display:table-cell !important;}
	.table .new img{width:20px;}
	
	.list_navi li{padding:5px 10px;}
	.list_navi li>a,.list_navi li>span{padding-left:18px;line-height:30px;-webkit-background-size:8px auto !important;background-size:8px auto !important;}
	.list_view .tit{padding:9px 10px;}
	.list_view .tit .date{float:none;display:block;margin-top:0.5em;}
	.list_view .cont{padding:20px 10px;}
	.list_paging img{width:18px;}
	.list_paging span{margin:0;}
	.list_paging span a, .list_paging span strong{width:18px;line-height:18px;}
	
	.tabmenu{margin-bottom:20px;}	
	.tabmenu.m_tab{position:relative;padding-top:36px;margin-bottom:20px;border:1px solid #cccccc;}
	.tabmenu.m_tab > li{height:0;float:none;width:auto;overflow:hidden;-webkit-transition:height .5s ease;transition:height .5s ease;}
	.tabmenu.m_tab > li.on{height:36px;position:absolute;left:0;top:0;width:100%;margin-top:0 !important;}
	.tabmenu.m_tab > li > a{margin-left:0;text-align:left;padding-left:10px;}
	.tabmenu.m_tab > li.on > a{background:#fff;color:#dd0000;font-weight:bold;}
	.tabmenu.m_tab > li.on > a:after{content:'';display:block;width:8px;height:8px;position:absolute;right:13px;top:12px;border:2px solid #dd0000;border-width:0 2px 2px 0;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all .5s ease;transition:all .5s ease;}
	.tabmenu.tab_open > li{height:36px;margin-top:1px;}
	.tabmenu.tab_open > li.on > a:after{top:17px;-webkit-transform:rotate(225deg);transform:rotate(225deg);}
	
	.pop_bg{padding:15px 5px;}
	.pop_wrap{width:auto;}
	.pop_wrap h1{padding:10px 30px 0px 10px;line-height:20px;}
	.pop_wrap h1 .logo{width:95px;height:16px;}
	.pop_wrap .pop_cont{padding:15px 10px;}
	.pop_wrap .pop_foot{padding:15px 10px;}
	.pop_wrap .btn_close{width:20px;height:20px;right:8px;top:16px;}	
	
	.no_img span{width:80px;height:12px;margin:-6px 0 0 -40px;}
}

@media only screen and (max-width:480px){
	.table{font-size:11px;}
	.pop_bg{padding:5px;}
	/* .pop_wrap{margin-top:0 !important;} */
}

/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print{
	#header, #lnb, #footer{display:none;}
}